#div1 {
    background-color: bisque;
    padding: 10%;
    margin: 20%;
    border-style: dotted;
    border-color: black;
    width: 25%;
    height: 10%;
}

#div {
    background-color: bisque;
    padding: 10%;
    margin: 20%;
    border-style: dotted;
    border-color: rgb(0, 0, 0);
    width: 50%;
    height: 10%;
}

body {
    background-color: black;
    width: 100%;
    height: 100%;
}